@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .navbar-icon {
    @apply flex items-center px-3 py-2 border rounded border-slate-200 text-slate-200 hover:text-white hover:border-white;
  }

  .section-title {
    @apply text-4xl font-bold mb-6;
  }

  .project-link {
    @apply h-14 w-14 border-2 rounded-full border-gray-400 hover:border-white flex justify-center items-center;
  }

  .project-icon {
    @apply h-8 w-8 cursor-pointer text-gray-400 hover:text-white;
  }

  .contact-form-input {
    @apply border-2 border-secondary placeholder-gray-300 text-sm rounded-lg block w-full p-2.5 focus:outline-none;
  }
}
